@model capstoneproject.Models.ContactViewModel

<h2>Contact</h2>



<div class="form-horizontal">
    <section id="post" class="wrapper bg-img" data-bg="vv.jpg">
        <div class="inner">
            <article class="box">
                <header>
                    <h2>If you want to contact me</h2>
                    <strong><p>My Email is <a style="color : blue" href="https://www.linkedin.com/feed/"> DariusCrawford</a></p></strong>
                    <strong><p>My Address is <a style="color : blue" href="https://4medmad@claim.org"> Redmond Wa 9245 4458</a> </p></strong>
                    </header>

                    <p><strong>Phone number is (875) 482-6458</strong></p>


                    <p><strong>Availability 8am - 8pm</strong></p>


                    
                        <iframe width="750"
                                height="400"
                                frameborder="0" style="border:0"
                                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC7RmWOGnH0xiWjg6M8sAfOy9zlbxuDYB8
    &q=Claim+Academy,StLouis+MO" allowfullscreen></iframe>

                    </p>





            </article>
            </div>
    </section>
</div>
			

<footer id="footer">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="inner">

            <h2>Having a problem with this site? </h2>
            <center><strong><p>Type whats wrong & send a message</p></strong></center>

            <center>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="field half">
                    @Html.LabelFor(model => model.FromName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FromName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FromName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="field half">
                    @Html.LabelFor(model => model.FromEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FromEmail, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FromEmail, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="field">
                    @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Body, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                    </div>
                </div>

                <ul class="actions">
                    <li><center><input value="Send Message" class="button alt" type="submit"></center></li>
                </ul>
            </center>

            <ul class="icons">
                <li><a href="#" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
            </ul>

        </div>
    }
</footer>
</div>